<div class="main-content text">
  <h1>C programming</h1>
  <p>C programming is a general-purpose, procedural, imperative computer programming language
    developed in 1972 by Dennis M. Ritchie at the Bell Telephone Laboratories to develop the
    UNIX operating system. C is the most widely used computer language. It keeps fluctuating
    at number one scale of popularity along with Java programming language,
    which is also equally popular and most widely used among modern software programmers.</p>

  <h4>Why to Learn C Programming?</h4>
  <p><b>C programming</b> language is a MUST for students and working professionals to become a great Software Engineer
    specially when they are working in Software Development Domain. I will list down some of the key advantages of
    learning C Programming:</p>
  <ul>
    <li>Easy to learn</li>
    <li> Structured language</li>
    <li> It produces efficient programs</li>
    <li> It can handle low-level activities</li>
    <li> It can be compiled on a variety of computer platforms</li>
  </ul>

  <h4>Facts about C</h4>
  <ul>
    <li>C was invented to write an operating system called UNIX.</li>
    <li>C is a successor of B language which was introduced around the early 1970s.</li>
    <li>The language was formalized in 1988 by the American National Standard Institute (ANSI).</li>
    <li>The UNIX OS was totally written in C.</li>
    <li>Today C is the most widely used and popular System Programming Language.</li>
    <li>Most of the state-of-the-art software have been implemented using C.</li>
  </ul>

  <h5> Applications of C Programming</h5>
  <p> C was initially used for system development work, particularly the programs that make-up the operating system. C
    was adopted as a system development language because it produces code that runs nearly as fast as the code written in
    assembly language. Some examples of the use of C are -</p>
  <ul>
    <li>Operating Systems</li>
    <li>Language Compilers</li>
    <li>Assemblers</li>
    <li>Text Editors</li>
    <li>Print Spoolers</li>
    <li> Network Drivers</li>
    <li>Modern Programs</li>
    <li>Databases</li>
    <li>Language Interpreters</li>
    <li>Utilities</li>
  </ul>

</div>
<form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
</form>