<div class="aboutus">
    <div class="csit">
        <h3>BSc.CSIT</h3>
        <p>Bachelors of Science in Computer Science and Information Technology (BSc. CSIT) is a four year course
            affiliatedto Tribhuvan University designed to provide the student with all sorts of knowledge in the field of
            Information Technology and Computing. Currently 57 Colleges offers B.Sc CSIT program in Nepal.

            <br><br>BSc CSIT program involves, in addition to conventional lectures, a great deal of practical and
            project works.
            The program develops the underlying principles of both Computer Science and Information Technology and shows
            how
            these principles can be applied to real world problems. This program develops the skills that are essential
            for
            both computer professionals and IT specialists.

            <br><br>The design and implementation of B.Sc. CSIT course offers new challenges when compared to the
            traditional
            computing environment. The recent emergence of global business, new technologies for data processing and
            data
            communication / networking environment, equip specialized science graduates to focus on professional careers
            in
            Information Technology. The B.Sc. CSIT program provides the students with adequate theoretical and practical
            knowledge which will enable students to effectively participate in solving the complex problem of the IT
            industry.

            <br><br>Mission of the B.Sc. CSIT course:

            <br><br>The mission of the B.Sc. CSIT course is to prepare the students to pursue career advancement in the
            field of
            information technology. At the completion of this degree, a student will be able to design the real world
            e-media products or create technical solutions to hardware and software problems, depending on the chosen
            area
            of specialization and electives.
        </p>

    </div>
    <div class="bca">
        <h3>BCA</h3>
        <p>Tribhuvan University has launched Bachelor of Computer Application (BCA) program from the academic year
            2074/75. In the first phase, this program was launched in six (6) constituent campuses of Tribhuvan
            University and are allocated 35 seats each.

            <br><br> Currently 120 colleges are running BCA program with the affiliation from Tribhuvan University. The
            BCA
            program of TU is of 4 years. The program runs on semester-system. It will be run under the faculties of
            Humanities and Social Sciences.

            <br><br> The objective of the BCA program of Tribhuvan University is to produce high quality computer
            application
            users and developers. The program of study for Bachelor of Arts in Computer Application (BCA) is over a
            period of eight semesters (four academic years). The academic year begins in the September and February of
            each year. The medium of instruction and examination in the Bachelor of Arts in Computer Application (BCA)
            program is English.

            <br><br> Purbanchal University and Pokhara University are also running BCA program in Nepal.
        </p>
    </div>
    <div class="plustwo">
        <h3>Plus Two (+2)</h3>
        <p>Pursuing +2 in Science is suitable for the students opting to create/join a career in the field of Science
            and Technology and related disciplines. 10 + 2 in science entitles a student with the eligibility to pursue
            a career in the field of Medicine, Engineering and other applied and theoretical natural science sectors.
        </p>
        <ol>
            <li>Computer Group: This is for the students interested in Computer and allied fields.</li>
            <li> Physical Group: This also for students opting for Engineering and allied fields of Physical Sciences.
            </li>
            <li>Biological Group: This is for the students interested in medicine and allied fields as well as Bio
                Sciences.</li>
            <li>Biological Group: This is for the students interested in medicine and allied fields as well as Bio
                Sciences.</li>
        </ol>
        <p> Plus two in Science offers an integrated package in Physics, Chemistry, Biology and Mathematics. The
            programaims to equip students with a level fit for further studies in technology, medicine, engineering and
            biotechnology. Plus two in Science is for those students who have an aptitude for science and mathematics.
            This program aims to develop strong foundation in students. On completion students can pursue their further
            studies in medicine, engineering or other science related studies.
        </p>
    </div>
</div>