<carousel>
  <slide>
    <img src="assets/image/nature1.jpg" alt="first slide" class="app-slide">
    <div class="carousel-caption d-none d-md-block">
      <h3>BSc.CSIT</h3>
      <p>Bachelors of Science in Computer Science and Information Technology</p>
    </div>
  </slide>
  <slide>
    <img src="assets/image/nature.jpeg" alt="second slide" class="app-slide">
    <div class="carousel-caption d-none d-md-block">
      <h3>BCA</h3>
      <p>Tribhuvan University has launched Bachelor of Computer Application </p>
    </div>
  </slide>
  <slide>
    <img src="assets/image/nature2.jpg" alt="third slide" class="app-slide">
    <div class="carousel-caption d-none d-md-block">
      <h3>Plus Two (+2)</h3>
      <p>Pursuing +2 in Science is suitable for the students opting to create/join a career in the field of Science
        and Technology and related disciplines.</p>
    </div>
  </slide>
</carousel>

<div class="main-content">
  <div class="title">
  <label for="">Our Courses</label>
</div>
  <div class="row app-card">
    <div class="col-md-4">
      <div class="card app-card">
        <img src="../../assets/image/color.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">BSc.CSIT</h5>
          <p class="card-text">Bachelors of Science in Computer Science and Information Technology (BSc. CSIT) is a four
            year course affiliated to Tribhuvan University designed to provide the student with all sorts of knowledge
            in the field of Information Technology and Computing. Currently 57 Colleges offers B.Sc CSIT program in
            Nepal.</p>
          <a href="#" class="btn btn-primary mt-3">Red More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card app-card">
        <img src="../../assets/image/color.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">BCA</h5>
          <p class="card-text">Tribhuvan University has launched Bachelor of Computer Application (BCA) program from the academic year
            2074/75. In the first phase, this program was launched in six (6) constituent campuses of Tribhuvan
            University and are allocated 35 seats each.Currently 120 colleges are running BCA program with the
            affiliation from Tribhuvan University.</p>
          <a href="#" class="btn btn-primary mt-3" >Read More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card app-card">
        <img src="../../assets/image/color.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Plus Two (+2)</h5>
          <p class="card-text">Pursuing +2 in Science is suitable for the students opting to create/join a career in the
            field of Science and Technology and related disciplines. 10 + 2 in science entitles a student with the
            eligibility to pursue a career in the field of Medicine, Engineering and other applied and theoretical
            natural science sectors. </p>
            <ol>
              <li>Computer Group</li>
              <li>Physics Group</li>
              <li>Biological Group</li>
            </ol>  
          <a href="#" class="btn btn-primary mt-3">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>